.input-container {
  position: absolute;
  width: calc(100% - 19.8rem);
  bottom: 0;
  right: 0;
  margin-top: 30px;
  form {
    display: flex;
    align-items: center;
  }
  .chat-input {
    padding: 12px 0 10px 10px;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    resize: none;
  }

  .btn-container {
    position: absolute;
    right: 0;
    .send-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      width: 2.4rem;
      height: 2.4rem;
      float: right;
      border-radius: 3px;
      background-color: #478bff;
      bottom: 0;
    }
    .send-btn:hover {
      background-color: #1e68f6;
      cursor: pointer;
    }
  }
}
